.bg-primary {
  background-color: #6777ef !important;
}

.bg-secondary {
  background-color: #cdd3d8 !important;
}

.bg-success {
  background-color: #63ed7a !important;
}

.bg-info {
  background-color: #3abaf4 !important;
}

.bg-warning {
  background-color: #ffa426 !important;
}

.bg-danger {
  background-color: #fc544b !important;
}

.bg-light {
  background-color: #e3eaef !important;
}

.bg-dark {
  background-color: #191d21 !important;
}

.text-primary,
.text-primary-all *,
.text-primary-all *:before,
.text-primary-all *:after {
  color: #6777ef !important;
}

.text-secondary,
.text-secondary-all *,
.text-secondary-all *:before,
.text-secondary-all *:after {
  color: #cdd3d8 !important;
}

.text-success,
.text-success-all *,
.text-success-all *:before,
.text-success-all *:after {
  color: #63ed7a !important;
}

.text-info,
.text-info-all *,
.text-info-all *:before,
.text-info-all *:after {
  color: #3abaf4 !important;
}

.text-warning,
.text-warning-all *,
.text-warning-all *:before,
.text-warning-all *:after {
  color: #ffa426 !important;
}

.text-danger,
.text-danger-all *,
.text-danger-all *:before,
.text-danger-all *:after {
  color: #fc544b !important;
}

.text-light,
.text-light-all *,
.text-light-all *:before,
.text-light-all *:after {
  color: #e3eaef !important;
}

.text-white,
.text-white-all *,
.text-white-all *:before,
.text-white-all *:after {
  color: #ffffff !important;
}

.text-dark,
.text-dark-all *,
.text-dark-all *:before,
.text-dark-all *:after {
  color: #191d21 !important;
}

.btn-secondary,
.btn-secondary.disabled {
  box-shadow: 0 2px 6px #e1e5e8;
  background-color: #cdd3d8;
  border-color: #cdd3d8;
  color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.disabled:hover,
.btn-secondary.disabled:focus,
.btn-secondary.disabled:active {
  background-color: #bfc6cd !important;
  color: #fff !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.disabled:hover,
.btn-outline-secondary.disabled:focus,
.btn-outline-secondary.disabled:active {
  background-color: #cdd3d8 !important;
  color: #fff !important;
}

.btn-success,
.btn-success.disabled {
  box-shadow: 0 2px 6px #a8f5b4;
  background-color: #63ed7a;
  border-color: #63ed7a;
  color: #fff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active {
  background-color: #4cea67 !important;
  color: #fff !important;
}

.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active,
.btn-outline-success.disabled:hover,
.btn-outline-success.disabled:focus,
.btn-outline-success.disabled:active {
  background-color: #63ed7a !important;
  color: #fff !important;
}

.btn-danger,
.btn-danger.disabled {
  box-shadow: 0 2px 6px #fd9b96;
  background-color: #fc544b;
  border-color: #fc544b;
  color: #fff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active {
  background-color: #fb160a !important;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active,
.btn-outline-danger.disabled:hover,
.btn-outline-danger.disabled:focus,
.btn-outline-danger.disabled:active {
  background-color: #fb160a !important;
  color: #fff !important;
}

.btn-dark,
.btn-dark.disabled {
  box-shadow: 0 2px 6px #728394;
  background-color: #191d21;
  border-color: #191d21;
  color: #fff;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.disabled:hover,
.btn-dark.disabled:focus,
.btn-dark.disabled:active {
  background-color: black !important;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.disabled:hover,
.btn-outline-dark.disabled:focus,
.btn-outline-dark.disabled:active {
  background-color: black !important;
  color: #fff !important;
}

.btn-light,
.btn-light.disabled {
  box-shadow: 0 2px 6px #e6ecf1;
  background-color: #e3eaef;
  border-color: #e3eaef;
  color: #191d21;
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.disabled:hover,
.btn-light.disabled:focus,
.btn-light.disabled:active {
  background-color: #c3d2dc !important;
}

.btn-outline-light,
.btn-outline-light.disabled {
  border-color: #e3eaef;
  color: #e3eaef;
}
.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active,
.btn-outline-light.disabled:hover,
.btn-outline-light.disabled:focus,
.btn-outline-light.disabled:active {
  background-color: #e3eaef !important;
  color: #fff !important;
}

.btn-warning,
.btn-warning.disabled {
  box-shadow: 0 2px 6px #ffc473;
  background-color: #ffa426;
  border-color: #ffa426;
  color: #fff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active {
  background-color: #ff990d !important;
  color: #fff !important;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus,
.btn-outline-warning:active,
.btn-outline-warning.disabled:hover,
.btn-outline-warning.disabled:focus,
.btn-outline-warning.disabled:active {
  background-color: #ffa426 !important;
  color: #fff !important;
}

.btn-info,
.btn-info.disabled {
  box-shadow: 0 2px 6px #82d3f8;
  background-color: #3abaf4;
  border-color: #3abaf4;
  color: #fff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active {
  background-color: #0da8ee !important;
}

.btn-outline-info:hover,
.btn-outline-info:focus,
.btn-outline-info:active,
.btn-outline-info.disabled:hover,
.btn-outline-info.disabled:focus,
.btn-outline-info.disabled:active {
  background-color: #0da8ee !important;
  color: #fff !important;
}

.btn-primary,
.btn-primary.disabled {
  box-shadow: 0 2px 6px #acb5f6;
  background-color: #6777ef;
  border-color: #6777ef;
}
.btn-primary:focus,
.btn-primary.disabled:focus {
  background-color: #394eea !important;
}
.btn-primary:focus:active,
.btn-primary.disabled:focus:active {
  background-color: #394eea !important;
}
.btn-primary:active,
.btn-primary:hover,
.btn-primary.disabled:active,
.btn-primary.disabled:hover {
  background-color: #394eea !important;
}

.btn-outline-primary,
.btn-outline-primary.disabled {
  border-color: #6777ef;
  color: #6777ef;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.disabled:hover,
.btn-outline-primary.disabled:focus,
.btn-outline-primary.disabled:active {
  background-color: #6777ef !important;
  color: #fff;
}

.btn-outline-white,
.btn-outline-white.disabled {
  border-color: #fff;
  color: #fff;
}
.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active,
.btn-outline-white.disabled:hover,
.btn-outline-white.disabled:focus,
.btn-outline-white.disabled:active {
  background-color: #fff;
  color: #6777ef;
}

body.dark {
  background-color: #191d21;
  color: white;
}

#skill.dark {
  background-color: rgba(255, 255, 255, 0.15);
  color: white !important;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Nunito", "Segoe UI", arial;
}

.text-shadow-blue {
  color: #191d21;
  background-image: linear-gradient(to top, #334b94 40%, transparent 0px);
}
.text-shadow-blue.dark {
  color: white;
  background-image: linear-gradient(to top, #334b94 40%, transparent 0px);
}

h2::after {
  background-color: #191d21;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 5%;
  left: 0.7em;
}
h2::before {
  background-color: #191d21;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 5%;
  right: 0.7em;
}

h2.dark::after {
  background-color: #ffffff;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 5%;
  left: 0.7em;
}
h2.dark::before {
  background-color: #ffffff;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 5%;
  right: 0.7em;
}

/* Navbar */
#nav {
  background-color: #334b94;
  position: sticky;
  top: 0;
  z-index: 1001;
}

.navbar-bg {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #334b94;
  z-index: -1;
}

#nav .radio-btn {
  width: 50px;
  height: 25px;
  margin-top: 7px;
  padding: 10px;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
}

#nav .radio-btn .radio-inner {
  position: relative;
  bottom: 8px;
  width: 20px;
  left: -7px;
  height: 20px;
  background-color: #ff990d;
  border-radius: 50%;
  transition: all 0.6s;
}
#nav .radio-btn .radio-inner::before {
  content: "";
  position: absolute;
  left: -60%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.6s;
}

#nav .radio-btn .radio-inner.active {
  transform: translateX(calc(50px - 26px));
}
#nav .radio-btn.dark {
  background-color: #191d21;
}

#nav .radio-btn .radio-inner.active::before {
  background-color: #191d21;
  left: -40%;
  transform: scale(1);
}

#nav .navbar-brand span {
  font-weight: bolder;
  color: #fff;
}
#nav .navbar-brand span:hover {
  font-weight: bolder;
  color: #ff990d;
}

#nav .navbar-nav ul li {
  padding: 0 10px;
}

#nav .navbar-nav li a {
  color: #fff;
  font-weight: bold;
}

#nav .navbar-nav .navbar-toggler-icon {
  background: none;
}

#nav .navbar-toggler {
  border: 0;
  padding: 0;
  width: 34px;
  height: 40px;
  margin-right: 10px;
}
#nav .navbar-toggler:focus {
  box-shadow: none;
}

#nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
#nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
#nav .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}

#nav .navbar-toggler .navbar-toggler-icon {
  background: #fff;
  display: block;
  width: 75%;
  height: 2px;
  margin: 6px 0;
  transition: all 0.4s ease;
  position: relative;
}

#nav .navbar-nav .nav-link {
  overflow: hidden;
}

#nav .navbar-nav .nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
#nav .navbar-nav .nav-link span:before {
  position: absolute;
  top: 30px;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}
#nav .navbar-nav .nav-link:focus,
#nav .navbar-nav .nav-link:hover {
  color: #ff990d;
  font-weight: bold;
}
#nav .navbar-nav .nav-link:focus span,
#nav .navbar-nav .nav-link:hover span {
  transform: translateY(-125%);
}

/* @media only screen and (min-width: 992px) {
  #nav .navbar-nav .active .nav-link {
    color: #ff990d;
    border-bottom: 3px solid #ff990d;
  }

  #nav .navbar-nav li .nav-link:hover {
    color: #ff990d;
    border-bottom: 3px solid #ff990d;
  }
}

@media only screen and (max-width: 991px) {
  #nav .navbar-nav li .nav-link:hover {
    color: #ff990d;
  }
} */

/*  Brand */
#banner {
  position: relative;
  background-color: #334b94;
  color: #fff;
  padding-top: 5%;
}

#banner span {
  color: #ff990d;
}

#banner .animated-info {
  display: inline-block;
  vertical-align: top;
  min-width: 260px;
}

#banner .animated-item {
  color: #fff;
}

#banner .animated-item {
  font-size: 28px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}

@media only screen and (max-width: 767px) {
  #banner .animated-item {
    font-size: 20px !important;
  }
}

#banner .animated-item:nth-child(2n + 2) {
  animation-delay: 2s;
}
#banner .animated-item:nth-child(3n + 3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* #banner .animated-info {
  position: relative;
  margin-bottom: 6rem;
}

#banner .animated-item {
  position: absolute;
  top: -10px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  overflow: hidden;
}

#banner .animated-item span {
  animation: animate 6s ease infinite;
  position: relative;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  #banner .animated-info {
    margin-bottom: 2.5rem;
  }
}

@keyframes animate {
  0% {
    top: 14px;
  }
  5% {
    top: 0px;
  }
  10% {
    top: 0px;
  }
  20% {
    top: -44px;
  }
  30% {
    top: -44px;
  }
  40% {
    top: -90px;
  }
  50% {
    top: -90px;
  }
  60% {
    top: -134px;
  }
  70% {
    top: -134px;
  }
  80% {
    top: -180px;
  }
  90% {
    top: -180px;
  }
  100% {
    top: -214px;
  }
} */

@media only screen and (min-width: 992px) {
  #banner .site-title h1 {
    position: absolute;
  }
  #banner .site-title h4 {
    margin-top: 65px;
  }
}

#banner .site-title h1 {
  --animate-delay: 0.6s;
}

#banner .site-title h3 {
  font-weight: bolder;
  font-size: 40px;
  font-weight: 500;
  --animate-delay: 0.5s;
}

#banner .site-title h4 {
  --animate-delay: 0.7s;
}

#banner .site-title p {
  --animate-delay: 0.8s;
}

#banner .site-title h3::after {
  content: " ";
  height: 2px;
  width: 18vw;
  background: #ff990d;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.ban-img {
  position: relative;
  z-index: 1000;
  --animate-delay: 0.5s;
}

@media screen and (max-width: 767px) {
  .ban-img {
    top: 4rem;
  }
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave.dark {
  visibility: hidden;
}

#wave {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
#wave.dark {
  visibility: visible;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 992px) {
  .arrow-down {
    position: absolute;
    top: 38rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow-down span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 3px solid #0a72f9;
    border-right: 3px solid #0a72f9;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll-down 2s ease infinite;
  }

  .arrow-down span:nth-child(2) {
    animation-delay: -0.2s;
  }
  .arrow-down span:nth-child(3) {
    animation-delay: -0.4s;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.back-to-up {
  box-shadow: 0 2px 6px #acb5f6;
  position: fixed;
  display: inline;
  background-color: #0a72f9;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 30px;
  font-size: 22px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .back-to-up {
    position: fixed;
    display: inline;
    right: 58rem;
    bottom: 1.5rem;
  }
}
@media only screen and (max-width: 414px) {
  .back-to-up {
    position: fixed;
    display: inline;
    right: 61rem;
    bottom: 1.5rem;
  }
}
@media only screen and (max-width: 390px) {
  .back-to-up {
    position: fixed;
    display: inline;
    right: 62rem;
    bottom: 1.5rem;
  }
}
@media only screen and (max-width: 375px) {
  .back-to-up {
    position: fixed;
    display: inline;
    right: 63rem;
    bottom: 1.5rem;
  }
}
@media only screen and (max-width: 360px) {
  .back-to-up {
    position: fixed;
    display: inline;
    right: 63rem;
    bottom: 1.5rem;
  }
}
@media only screen and (max-width: 320px) {
  .back-to-up {
    position: fixed;
    display: inline;
    right: 62rem;
    bottom: 1.5rem;
  }
}
@media only screen and (max-width: 280px) {
  .back-to-up {
    position: fixed;
    display: inline;
    right: 54rem;
    bottom: 1.5rem;
  }
}

.btn-floating i {
  margin-top: 10px;
}

.btn-floating a:hover {
  background-color: #4254f4;
  color: #fff;
}

/*  About */
#about {
  padding: 80px 0;
}

#about .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(25, 29, 33, 0.5);
  position: relative;
}

#about .resume-item.dark {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.15);
  position: relative;
}

#about .resume-item h5 {
  color: #334b94;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

#about .resume-item span {
  font-size: 16px;
  background: rgba(222, 226, 233, 0.5);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

#about .resume-item.dark span {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

#about .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #334b94;
  border: 2px solid #334b94;
}

.pb-0 {
  padding-bottom: 0 !important;
}

#about h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

#about ul li {
  margin-top: 10px;
}

/*  Skill */
#skill {
  background-color: #dee2e9;
  color: #000;
  padding: 80px 0;
}

#skill i {
  font-size: 5rem;
  color: #334b94;
}
#skill.dark i {
  font-size: 5rem;
  color: white;
}

#skill h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

/*  Certificate */
#certificate {
  padding: 80px 0 !important;
}

#certificate ol li {
  margin-top: 10px;
}

#certificate h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

/*  Portfolio */
#portfolio {
  padding: 80px 0;
}

#portfolio h4 {
  margin-top: 15%;
}

#portfolio {
  padding: 50px 0 50px 0;
}

#portfolio .card {
  display: grid;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}

#portfolio .card.dark {
  display: grid;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #191d21;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.26);
}

#portfolio .box:hover {
  transform: translate(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#portfolio .box img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#portfolio .card-box img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

#portfolio .box p {
  font-weight: 100;
  margin-bottom: 10px;
}

#portfolio .card-box ul li {
  margin-bottom: 10px;
}

#portfolio .card-box p {
  font-weight: 100;
  margin-bottom: 10px;
}

#portfolio .box a {
  height: 40px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

#portfolio .card-box a {
  height: 40px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

#footer {
  background-color: #334b94;
  padding: 20px 0;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  .address .col-md-11 {
    margin: 0 0 -10px 0 !important;
  }
  .address i {
    position: absolute;
  }
  .address p {
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .address .col-md-11 {
    margin: 0 0 -10px 0 !important;
  }
  .address i {
    position: absolute;
  }
  .address p {
    margin-left: 0.3rem;
  }
}
@media only screen and (min-width: 1074px) {
  .address .col-md-11 {
    margin: 0 0 -10px 0 !important;
  }
  .address i {
    position: absolute;
  }
}
@media only screen and (min-width: 1280px) {
  .address .col-md-11 {
    margin: 0 0 -10px 0 !important;
  }
  .address p {
    margin-left: 0;
  }
  .address i {
    position: absolute;
  }
}
#footer ul li {
  margin-top: 10px;
}

#footer a {
  text-decoration: none;
  color: #fff;
}
#footer .info a:hover {
  text-decoration: none;
  color: #ff990d;
}

@media only screen and (min-width: 768px) {
  #footer .info h3,
  #footer .info a {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1080px) {
  #footer .info h3,
  #footer .info a {
    margin-left: 4.5rem;
  }
}

@media screen and (min-width: 568px) {
  .cards-wrapper {
    display: flex;
  }

  .cards-wrapper .card {
    margin: 3.5em auto 3.5em !important;
    width: calc(80% / 3) !important;
  }
  .cards-wrappers {
    display: flex;
    margin: 1.5em auto 1.5em !important;
  }

  .cards-wrappers .card {
    margin: 0.5em !important;
    width: calc(100% / 3) !important;
  }
}

.carousel-inner {
  padding: 1em;
}

.carousel-indicators button {
  width: 2vh !important;
  height: 2vh !important;
  border-radius: 50%;
  margin-bottom: 0.5rem !important;
  background-color: #334b94 !important;
}
.carousel-control-prev,
.carousel-control-next {
  width: 6vh !important;
  height: 6vh !important;
  color: white !important;
  border-radius: 50%;
  background-color: #334b94 !important;
  top: 50% !important;
}

.icon .cards-wrapper i {
  font-size: 3rem !important;
  margin: 0.5em;
}
.icon .cards-wrapper p {
  font-size: 2rem !important;
  margin: 0.5em;
}

#details {
  padding-top: 5%;
}

#details .card {
  display: grid;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}

#details .card.dark {
  display: grid;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #191d21;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.26);
}

#details .box:hover {
  transform: translate(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

#details .box img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#details .box p {
  font-weight: 100;
  margin-bottom: 10px;
}

#details .box a {
  height: 40px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

#details .card-box img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

#details .card-box ul li {
  margin-bottom: 10px;
}

#details .card-box p {
  font-weight: 100;
  margin-bottom: 10px;
}

#feature {
  padding-top: 5%;
}

#feature .card {
  display: grid;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}

#feature .card.dark {
  display: grid;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #191d21;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.26);
}

#feature.dark h3,
#feature.dark label {
  color: #fff;
}

#canvas h4 {
  position: absolute;
  margin: 0 80px;
  margin-top: 12%;
  color: #fff;
}

@media only screen and (max-width: 1115px) {
  #canvas h4 {
    margin-top: 14%;
  }
}
@media only screen and (max-width: 1000px) {
  #canvas h4 {
    margin-top: 16%;
  }
}
@media only screen and (max-width: 950px) {
  #canvas h4 {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 850px) {
  #canvas h4 {
    margin-top: 22%;
  }
}
@media only screen and (max-width: 750px) {
  #canvas h4 {
    margin-top: 24%;
  }
}
@media only screen and (max-width: 650px) {
  #canvas h4 {
    margin-top: 26%;
  }
}
@media only screen and (max-width: 550px) {
  #canvas h4 {
    margin-top: 28%;
  }
}
@media only screen and (max-width: 450px) {
  #canvas h4 {
    margin-top: 30%;
  }
}
@media only screen and (max-width: 350px) {
  #canvas h4 {
    margin-top: 32%;
  }
}
